.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
*-figure/
*.swp
*.log
*.pdf
ExamplePaper.png
ExamplePaper.ps
ExamplePaper.tex
ExamplePaperSource.*
DockerWorkshop.html
*-concordance.tex
*.aux
ExamplePaper.R

